<!DOCTYPE html>
<html>
  <head>
    <title>JWT</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>JWT</h1>
    <p>Welcome to JWT</p>
    <a href="/users/login">Log In</a>
    <a href="/users/register">Sign Up</a>
  </body>
</html>
